@import url(https://fonts.googleapis.com/css?family=Cabin:400,700|Droid+Sans:400,700)

$base-color: #17d4bb
$dark-color: #007b62
$light-color: #bdffff

*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  width: 100%
  height: 100%

body
  font-family: 'Droid Sans', sans-serif
  font-size: 16px
  line-height: 1.5em


header
  width: 100%
  height: 100%
  min-height: 475px
  padding-top: 10%
  text-align: center
  background-color: $base-color
  color: $light-color

h1
  font-family: 'Cabin', sans-serif
  font-size: 4em
  line-height: 1.5em

h2, h3
  line-height: 1.5em

#logo-area
  position: relative
  padding: 15px
  img
    width: 200px

#form-area
  position: relative
  padding: 15px
  form
    input
      border: none
      outline: none
      padding: 15px
      width: 250px
      background-color: #8affff
      color: #00947b
      font-size: 16px
      border: 2px solid #8affff
      border-top-left-radius: 4px
      border-bottom-left-radius: 4px

    button
      border: none
      padding: 15px
      background-color: $dark-color
      color: $light-color
      font-size: 16px
      border: 2px solid $dark-color
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      &:hover
        background-color: #00ae95
        color: $light-color
        border-color: #24e1c8
        cursor: pointer

#footer-area
  position: relative
  padding: 15px

  i
    padding: 10px
    font-size: 2em

#about
  height: 100%
  max-width: 900px
  margin: 0 auto
  padding: 100px 25px 0 25px
  color: #555

  h2
    font-size: 2em
    line-height: 3em
    color: $dark-color

  p
    font-size: 1.5em
    line-height: 1.5em
    padding-bottom: 30px

  #social
    position: relative
    font-size: 2.5em
    padding-bottom: 50px

    a
      padding-right: 20px
      color: $dark-color

      &:hover
        color: $base-color

@media (max-width:400px)
  body
    font-size: 14px

  form
    input
      border-radius: 4px
      margin-bottom: 10px
    button
      width: 250px
      border-radius: 4px

  #logo-area
    img
      width: 150px

@media (max-height:650px)
  header
    padding-top: 50px

  #about
    padding-top: 50px

@media (max-height:575px)
  header
    padding-top: 0px

  #logo-area
    img
      width: 125px

  #about
    padding-top: 5px

@media (max-height:500px)
   #footer-area
    i
      display: none

