doctype html
html
  head
    title Eldritch - Not Found
    include ./_meta.jade
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='error.css')
  body
    header
      div(id='error-area')
        a(href='/')
          img(src='images/eldritch-outline.svg' alt='eldritch')
        h1 Not Found
        h2 The page you're looking for has gone missing!
