doctype html
html
  head
    title Eldritch - 500 Error
    meta(charset='utf-8')
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='error.css')
  body
    div(id='error-area')
      a(href='/')
        img(src='images/eldritch-outline.svg' alt='eldritch')
      h1 Five Oh Five
      h2 Something borked :(
