meta(charset='utf-8')
meta(name='viewport' content='width=device-width')
meta(name='description', content='Learn guitar, teach guitar.')
meta(name='keywords', content='guitar,learn,teach,learn guitar,teach guitar')
