doctype html
html
  head
    title Eldritch
    include ./_meta.jade
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    header
      div(id='logo-area')
        img(src='images/eldritch-outline.svg' alt='eldritch')
        h1 eldritch
        h2 Learn Guitar. Teach Guitar.

      div(id='form-area')
        form(action='/submit', method='POST')
          input(type='email', name='email', placeholder='EMAIL')
          button(type='submit') SUBSCRIBE

      div(id='footer-area')
        h3 Music doesn't have to be a dark art
        i(id='scroll-button' class="fa fa-angle-double-down")

    div(id='about')
      h2 What?
      p Eldritch is simply a place for people who want to teach guitar and people who want to learn guitar to find each other.
      p Eldritch will start small, in the form of instructor profiles and a directory, but it'll grow bigger and stronger over time.
      p Eldritch is still being conjured up from the ether, but keep an eye turned to the cosmos for hints of its imminent arrival.
      div(id='social')
        a(href='https://twitter.com/eldritchio' target='_blank')
          i(class="fa fa-twitter")
        a(href='https://medium.com/@eldritchio' target='_blank')
          i(class="fa fa-medium")
        a(href='mailto:devon@eldritch.io')
          i(class="fa fa-envelope")

    include ./_ga.jade
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="scroll.js")
