doctype html
html
  head
    title Eldritch
    meta(charset='utf-8')
    meta(name='description', content='Learn guitar, teach guitar.')
    meta(name='keywords', content='guitar,learn,teach,learn guitar,teach guitar')
    link(rel='stylesheet', href='main.css')
  body
    div(id='logo-area')
      img(src='images/eldritch-outline.svg' alt='eldritch')
      h1 eldritch
      h2 Learn Guitar. Teach Guitar.

    form(action='/submit', method='POST')
      input(type='email', name='email', placeholder='Email me when its ready')
      button(type='submit') SEND

    h3(id='foot') Music doesn't have to be a dark art

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54086812-3', 'auto');
      ga('send', 'pageview');
