doctype html
html
  head
    title Eldritch
    meta(charset='utf-8')
    meta(name='description', content='Learn guitar, teach guitar.')
    meta(name='keywords', content='guitar,learn,teach,learn guitar,teach guitar')
    link(rel='stylesheet', href='main.css')
  body
    div(id='logo-area')
      img(src='images/eldritch.svg' alt='eldritch')

    form(action='/submit', method='POST')
      input(type='email', name='email', placeholder='some@example.com')
      button(type='submit') GO
