doctype html
html
  head
    title Eldritch
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(rel='stylesheet', href='main.css')
  body
    h1 Hello, world!
