doctype html
html
  head
    title Eldritch
    include ./_meta.jade
    link(rel='stylesheet', href='main.css')
  body
    div(id='logo-area')
      img(src='images/eldritch-outline.svg' alt='eldritch')
      h1 eldritch
      h2 Learn Guitar. Teach Guitar.

    form(action='/submit', method='POST')
      input(type='email', name='email', placeholder='EMAIL')
      button(type='submit') SUBSCRIBE

    h3(id='foot') Music doesn't have to be a dark art

    include ./_ga.jade
