doctype html
html
  head
    title Eldritch
    meta(charset='utf-8')
    meta(name='description', content='Learn guitar, teach guitar.')
    meta(name='keywords', content='guitar,learn,teach,learn guitar,teach guitar')
    link(rel='stylesheet', href='main.css')
  body
    div(id='logo-area')
      img(src='images/eldritch-outline.svg' alt='eldritch')
      h1 eldritch
      h2 Learn Guitar. Teach Guitar.

    form(action='/submit', method='POST')
      input(type='email', name='email', placeholder='Email me when its ready')
      button(type='submit') SEND

    h3(id='foot') Music doesn't have to be a dark art
